{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1 class="p-6 mt-4 lg:mt-1 rounded shadow bg-gray">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %} </h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        <form method="POST" action="{{ action_url }}" class="mt-2">
        <div class="md:e-1/2 ">
            {% csrf_token %}
            {{ form.as_p }}
{#            {% for field in form %}#}
{#                <input class="form-input block w-full focus:bg-white" id="{{ field }}">#}
{#            {% endfor %}#}
            <input type="submit" name="action" value="{% trans 'change password' %}" class="px-6 py-2 bg-green-500 inline-block text-center text-white rounded hover:bg-green-600"/>
        </div>
        </form>
    {% endif %}
{% endblock %}
